# Google Play Store: Exploratory Data Analysis 2
**In this notebook, we clean the first dataset: Google Play Store User Reviews**

Import libraries and dataset.

In [1]:
import pandas as pd
import numpy as np

Load the first dataset: google play store

In [2]:
df = pd.read_csv('../googleplaystore/googleplaystore_user_reviews.csv')
#show the first 10 rows
df.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [3]:
#identify the number of missing values in each attribute
df.isnull().sum()

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

Find out the data type of each column:

In [4]:
df.dtypes

App                        object
Translated_Review          object
Sentiment                  object
Sentiment_Polarity        float64
Sentiment_Subjectivity    float64
dtype: object

In [5]:
#Basic quatitative description
df.describe()

       Sentiment_Polarity  Sentiment_Subjectivity
count        37432.000000            37432.000000
mean             0.182146                0.492704
std              0.351301                0.259949
min             -1.000000                0.000000
25%              0.000000                0.357143
50%              0.150000                0.514286
75%              0.400000                0.650000
max              1.000000                1.000000

## Data Cleaning: Play Store User Reviews
**Objective:**
Modify each column and make data ready for analysis

Drop the rows with sentiment equals to null value.

In [6]:
df.dropna(subset=['Sentiment'],axis=0, inplace=True)
#reset index
df.reset_index(inplace=True)
df.drop(['index'], axis=1,inplace=True)
df

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.000000,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.250000,0.288462
2,10 Best Foods for You,Works great especially going grocery store,Positive,0.400000,0.875000
3,10 Best Foods for You,Best idea us,Positive,1.000000,0.300000
4,10 Best Foods for You,Best way,Positive,1.000000,0.300000
...,...,...,...,...,...
37427,Housing-Real Estate & Property,Most ads older many agents ..not much owner po...,Positive,0.173333,0.486667
37428,Housing-Real Estate & Property,"If photos posted portal load, fit purpose. I'm...",Positive,0.225000,0.447222
37429,Housing-Real Estate & Property,"Dumb app, I wanted post property rent give opt...",Negative,-0.287500,0.250000
37430,Housing-Real Estate & Property,I property business got link SMS happy perform...,Positive,0.800000,1.000000
37431,Housing-Real Estate & Property,"Useless app, I searched flats kondapur, Hydera...",Negative,-0.316667,0.400000

In [7]:
#Check if theres any null value in the 'App' column
df[df['App']=='Nan']

Empty DataFrame
Columns: [App, Translated_Review, Sentiment, Sentiment_Polarity, Sentiment_Subjectivity]
Index: []

In [ ]:
#Save the dataframe into csv
df.to_csv('cleansed_googlereviews.csv')